<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDELaunch">
<stringAttribute key="com.qnx.tools.ide.qde.core.DIR_UPLOAD" value="/tmp"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="QNX_NTO"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.STOP_ON_SOLIB_EVENTS" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.TARGET_FILTER_ATTR" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="true"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.USE_UNIQ_NAME" value="true"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_RUN_PERSPECTIVE" value="perspective_none"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_DONTUSE_PTY" value="pickaptyforme"/>
<stringAttribute key="org.eclipse.cdt.launch.PLATFFORM" value="qnx"/>
<listAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB_LIST"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.AUTO_SOLIB" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.qnx.tools.ide.qde.debug.core.CDebugger"/>
<mapAttribute key="org.eclipse.cdt.launch.ENVIRONMENT_MAP"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENVIRONMENT_INHERIT" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<listAttribute key="org.eclipse.cdt.debug.mi.core.SOLIB_PATH"/>
<listAttribute key="com.qnx.tools.ide.qde.core.ACTIVE_TOOL_DELEGATES"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.DO_NOT_UPLOAD_LIBS" value="true"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="NeutrinoResourceManager"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="x86/o-g/example_resmgr_devnull.o"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.DO_UPLOAD" value="true"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.STRIP_BEFORE_UPLOAD" value="true"/>
<intAttribute key="com.qnx.tools.ide.qde.core.NUM_UPLOAD_LIBS" value="0"/>
<listAttribute key="com.qnx.tools.ide.qde.core.ACTIVE_TOOLS"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.CLEAN_TARGET" value="true"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.GDB_INIT" value=""/>
</launchConfiguration>
